.app__quiz {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);

  @media screen and (max-width: 450px) {
    background-color: var(--card-color);
  }
}

.app__quiz-content {
  padding: 5rem 4rem;
  border-radius: 20px;
  width: 50vw;
  background-color: var(--card-color);
  color: var(--text-color);
  box-shadow: 0 0 10px rgba(114, 110, 110, 0.5);

  .question-count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
    font-size: 1.2rem;

    span {
      margin: 0 5px;
    }
  }

  .question-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
    text-align: center;
  }

  .options-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem 0;

    li {
      list-style: none;
      font-size: 1.2rem;
      padding: 0.5rem 0rem;
      position: relative;
      

      input {
        cursor: pointer;
        opacity: 1;
        font-size: 2rem;
        height: 40px;
        width: 40px;
        opacity: 0;
      }

      .option-box {
        // z-index: -1;
        background-color: green;
        width: 20px;
        height: 20px;
        margin: 5px;
        position: absolute;
        bottom: 0.35rem;
        border-radius: 5px;
        transition: all .2s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 450px) {
          bottom: .1rem;
        }
        
        &:hover {
          background-color: var(--text-color);
        }

        &:active {
          background-color: green;
        }
      }

      label {
        padding: 0 1rem;
        margin-left: 1.5rem;     
      }
    }
  }

  @media screen and (max-width: 450px) {
    box-shadow: 0 0 0;
    padding: 0;
    border-radius: 20px;
    width: 100vw;

    .question-section {
      font-size: 0.7rem;
      font-weight: 400;
      margin: 1rem 0.5rem;
    }

    .options-section li {
      font-size: 1.1rem;
      font-weight: 400;
    }
  }
}
